.err-msg{
    color: grey;
    text-align: center;
    margin-block-start: 5rem;
}

p{
    margin: 0;
    align-self: center;
}

#navbarNavAltMarkup{
    justify-content: space-between;
}

button.edit{
    background-color: transparent;
    color: orange;
    border-color: orange;
}

button.edit:hover{
    background-color: orange;
    color: whitesmoke;
    border-color: transparent;
}

button.delete{
    background-color: transparent;
    color: red;
    border-color: red;
}

button.delete:hover{
    background-color: red;
    color: whitesmoke;
    border-color: transparent;
}

button{
    color:rgb(67, 130, 60);
    cursor: pointer;
    border-radius: 4px;
    background-color: whitesmoke;
    border-color: transparent;
}
button:hover{
    color: white;
    background-color: gray;
}
button:focus{
    outline: none;
}

.my-width{
    width: 50%;
    margin: 0 auto;
}
